<%= form_with model: @patient , local:true do |form|%>
    <p>
    First Name : 
    <%= form.text_field :first_name %>
    </p>
    <p>
    Last Name :
    <%= form.text_field :last_name %>
    </p>
    <p>
    Diagnosis :
    <%= form.text_field :diagnosis %>
    </p>
    <p>
    Birthday Date :
    <%= form.date_field :born_on %>
    </p>
    <p>
    Name of Doctor :
    <%= form.text_field :name %>
    </p>
    <%= form.submit %>
    <%end %>