<h1>All Patients</h1>

<% @patients.each do |patient| %>
<div>
    First Name: <%= patient.first_name %>
</div>
<div>
    Last Name: <%= patient.last_name %>
</div>
<div>
    Diagnosis: <%= patient.diagnosis %>
</div>
<div>
    Date of Birth: <%= patient.born_on %>
</div>
<div>
    <%= link_to "Delete", patient, :method => :delete %>
</div>
<hr>
<% end %>