<h1> All Patient </h1>
<%= link_to 'New Patient', new_patient_path %>

    <table>
  <tr>
    <th>Fist Name </th>
    <th>Last Name </th>
  </tr>
 
  <% @patient.each do |patient| %>
    <td> <%= link_to patient.first_name %></td>
      <td><%= patient.last_name %></td>
      <td><%= link_to 'Show' , patient_path(patient.id) %></td>
      <td><%= link_to 'Edit', edit_patient_path(patient)%></td>
      <td><%= link_to 'Destroy', patient_path(patient.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
