<h2> Show Patient </h>

<div>
First Name: <%= @patient.first_name %>
</div>

<div>
Last Name:<%= @patient.last_name %>
</div>

<div> 
Diagnosis:<%= @patient.diagnosis %>
</div>

<div>
Born_on:<%= @patient.born_on %>
</div>

<div>
Created_at:<%= @patient.created_at %>
</div>


<div>
Updated_at:<%= @patient.updated_at %>
</div>