<h2>Patients <h2>
<%= link_to 'Back', controller: 'patients' %>

<form>
<div>

First Name: <%= @patient.first_name %>
</div>

<div>
Last Name : <%= @patient.last_name %>
</div>

<div>
Diagnosis : <%= @patient.diagnosis %>
</div>

<div>
Birthday Date: <%= @patient.born_on %>
</div>
<div>
name of doctor : <%= @doctor.name %>
</div>
<form

