<span><h1><%= @doctor.name %> Appointments</h1><h3>Specialty: <%= @doctor.specialty %></h3></span>

<%= link_to 'Add Appointment', new_doctor_appointment_path(@doctor) %>
<br />
<br />
<hr />


<table >
  <thead>
    <th>Patient Name</th>
    <th>Patient Date of Birth</th>
    <th>Appointment Date</th>
    <th>Appointment Time</th>
    <th>Remove</th>
  </thead>
  <tbody>
    <% @appointments.each do |appt| %>
      <tr>
        <td><%= link_to appt.patient.full_name, patient_path(appt.patient) %></td>

        <td><%= appt.date.strftime('%a, %b %d, %Y') %></td>

        <td><%= appt.time.strftime("%l:%M %p")  %></td>

        <td><%= button_to 'Cancel', doctor_appointment_path(appt.doctor_id, appt.id), method: :delete%></td>
      </tr>
    <% end %>
  </tbody>

</table>
