<h2>Doctors <h2>
<%= link_to 'Back', controller: 'doctors' %>
<form>
<div>

Name: <%= @doctor.name %>
</div>

<div>
Family Name : <%= @doctor.family_name %>
</div>

<div>
Zip Code : <%= @doctor.zip_code %>
</div>

<div>
specialty : <%= @doctor.specialty %>
</div>


<form