<%= form_with model:@patient, locals:true do |form|%>
<p>
First Name:
<%= form.text_field :first_name%>
</p>
<p>
Last Name:
<%= form.text_field :last_name%>
</p>
<p>
Diagnosis:
<%= form.text_field :diagnosis%>
</p>
<p>
Born on:
<%= form.text_field :born_on%>
</p>
<%= form.submit "Create"%>
<%= form.submit "Update"%>
<%end%>