
<nav>
    <%= link_to ' New patient ' , patients_new_path %>
</nav>

<h2> All Patients </h2>

<% @patients.each do |patient| %> 
    <div> 
    <td> <%= patient.first_name %>   <%=patient.last_name%> </td>
    <td> <%= link_to 'Details', patient_path(patient) %> </td>
    <td> <%= link_to 'Edit', edit_patient_path(patient) %> </td>
    <td> <a data-confirm="Are you sure you want to delete <%= patient.first_name %>?" data-method="delete" href="/patients/<%= patient.id %>" rel="nofollow"> Delete</a> </td>
        </div> 
<% end %> 

<%= yield %>